spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hotelbookingsystem
    username: postgres
    password: Kent12052@
    driver-class-name: org.postgresql.Driver
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

jwt:
  secret: hbs-backend-super-secret-key-123456
  expiration-ms: 86400000

springfox:
  documentation:
    swagger:
      v2:
        path: /api-docs

